button.window-title-btn {
    background: transparent; //rgba(231, 231, 231, .9);
    color: black;
    border-radius: 0;
    border: none;
    width: 46px;
    height: 32px;

    &>* {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    &:hover {
        background-color: rgba(142, 142, 142, 0.2);

        &.win-close-btn {
            background-color: #ff081e;
            color: white;
        }
    }

    &:active {
        background-color: rgba(142, 142, 142, 0.4);

        &.win-close-btn {
            background-color: #ff717b;
        }
    }
}