.resize-borders-wrapper {
    position: absolute;
    width: calc(100% + 16px);
    height: calc(100% + 9px);
    pointer-events: none;
    display: grid;
    grid-template-rows: 5px 1fr 8px;
    grid-template-columns: 8px 1fr 8px;
    left: -8px;
    top: -1px;

    &>.resize-border {
        pointer-events: all;
        background: transparent;

        &.resize-border-t {
            cursor: n-resize;
            grid-row: 1;
            grid-column: 2;
        }

        &.resize-border-r {
            cursor: e-resize;
            grid-row: 2;
            grid-column: 3;
        }

        &.resize-border-b {
            cursor: s-resize;
            grid-row: 3;
            grid-column: 2;
        }

        &.resize-border-l {
            cursor: w-resize;
            grid-row: 2;
            grid-column: 1;
        }

        &.resize-border-tl {
            cursor: nw-resize;
            grid-row: 1;
            grid-column: 1;
        }

        &.resize-border-tr {
            cursor: ne-resize;
            grid-row: 1;
            grid-column: 3;
        }

        &.resize-border-br {
            cursor: se-resize;
            grid-row: 3;
            grid-column: 3;
        }

        &.resize-border-bl {
            cursor: sw-resize;
            grid-row: 3;
            grid-column: 1;
        }
    }
}